*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  background-color: #f7f6f2;
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: start;
  position: relative;
}
.header__title {
  margin: 10rem;
}
.header__h1 {
  font-size: 8rem;
}
.header__h2 {
  font-size: 4rem;
}
.header__span {
  color: #f67704;
}
.header__img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.header__shadow {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4rem;
  font-size: 5rem;
  cursor: pointer;
  animation-name: iconAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  z-index: 5;
  transition: left 0.4s, color 0.4s;
}
.header__icon:hover {
  color: #7d7c7c;
}

.box {
  width: 100%;
}
.box__left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
}
.box__right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo__img {
  margin-right: 5rem;
  width: 400px;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background-color: rgba(0, 0, 0, 0.95);
  transition: transform 0.4s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav__item {
  color: #f67704;
  padding: 3rem;
  text-decoration: none;
  font-size: 5rem;
  background-image: linear-gradient(#f9b572 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s, color 0.3s;
}
.nav__item:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
  color: #f9b572;
}

.show-modal {
  transform: translateX(0);
}

.show-modal-icon {
  color: #f67704;
  animation-name: iconAnimationShowModal;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform: rotate(180deg);
}

.about {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.about__left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.about__right {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about__img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  animation-name: pictureAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition: transform 2s;
}
.about__h3 {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  padding: 1.5rem;
}
.about__span {
  color: #f67704;
}
.about__p {
  font-size: 2rem;
  padding: 1.5rem;
}
.about__a {
  text-decoration: none;
  color: #f67704;
}

@keyframes iconAnimation {
  0% {
    left: 0;
  }
  50% {
    left: 5%;
  }
  100% {
    left: 0;
  }
}
@keyframes iconAnimationShowModal {
  0% {
    left: 80%;
  }
  50% {
    left: 85%;
  }
  100% {
    left: 80%;
  }
}/*# sourceMappingURL=index.css.map */