@use 'colors' as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: 'Space Mono', monospace;
	font-size: 1rem;
	background-color: $white;
	overflow-x: hidden;
}

// HEADER

.header {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: start;
	position: relative;

	&__title {
		margin: 10rem;
	}

	&__h1 {
		font-size: 8rem;
	}

	&__h2 {
		font-size: 4rem;
	}

	&__span {
		color: $orange;
	}

	&__img {
		flex-shrink: 0;
		min-width: 100%;
		min-height: 100%;
	}

	&__shadow {
		position: absolute;
		width: 50%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		padding: 4rem;
		font-size: 5rem;
		cursor: pointer;
		animation-name: iconAnimation;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		z-index: 5;
		transition: left 0.4s, color 0.4s;

		&:hover {
			color: $grey;
		}
	}
}

.box {
	width: 100%;
	&__left {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		flex-direction: column;
		position: relative;
	}

	&__right {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
}

.logo {
	&__img {
		margin-right: 5rem;
		width: 400px;
	}
}

.modal {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	background-color: rgba(0, 0, 0, 0.95);
	transition: transform 0.4s;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&__item {
		color: $orange;
		padding: 3rem;
		text-decoration: none;
		font-size: 5rem;
		background-image: linear-gradient($orange-hover 0 0);
		background-position: 0 100%; /*OR bottom left*/
		background-size: 0% 2px;
		background-repeat: no-repeat;
		transition: background-size 0.3s, background-position 0s 0.3s, color 0.3s;

		&:hover {
			background-position: 100% 100%; /*OR bottom right*/
			background-size: 100% 2px;
			color: $orange-hover;
		}
	}
}

.show-modal {
	transform: translateX(0);
}

.show-modal-icon {
	color: $orange;
	animation-name: iconAnimationShowModal;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	transform: rotate(180deg);
}

// MAIN

.about {
	width: 100vw;
	height: 100vh;
	display: flex;

	&__left {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	&__right {
		width: 50%;
		height: 100vh;
		display: flex;

		align-items: flex-start;
		flex-direction: column;
		// background-color: $orange-hover;
	}

	&__img {
		flex-shrink: 0;
		min-width: 100%;
		min-height: 100%;
		animation-name: pictureAnimation;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		transition: transform 2s;
	}

	&__h3 {
		margin-top: 5rem;
		margin-bottom: 3rem;
		font-size: 3rem;
		padding: 1.5rem;
	}

	&__span {
		color: $orange;
	}

	&__p {
		font-size: 2rem;
		padding: 1.5rem;
	}

	&__a {
		text-decoration: none;
		color: $orange;
	}
}

// LEAGUE

.league {
	margin-top: 5rem;
	width: 100vw;
	height: 100%;
	// background-color: $grey;
	display: flex;
	align-items: center;
	flex-direction: column;

	&__wrapper {
		margin: 5rem;
		width: 1200px;
		height: 300px;
		display: flex;
		align-items: center;

		&--left {
			justify-content: flex-start;
		}

		&--right {
			justify-content: flex-end;
		}
	}

	&__date {
		height: 100%;
		font-size: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3rem;

		&--left {
			border-left: 1px solid $orange;
		}

		&--right {
			border-right: 1px solid $orange;
		}
	}

	&__result {
		font-size: 1.8rem;
		padding: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $light-grey;
		box-shadow: 8px 8px 24px 10px rgba(66, 68, 90, 0.2);
		margin: 4rem;

		&-h3 {
			color: $orange;
		}

		&--teams {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 2rem;
			// padding-right: 5rem;
		}

		&--points {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 2rem;
		}
	}
}

// ANIMATIONS

@keyframes iconAnimation {
	0% {
		left: 0;
	}
	50% {
		left: 5%;
	}
	100% {
		left: 0;
	}
}

@keyframes iconAnimationShowModal {
	0% {
		left: 80%;
	}
	50% {
		left: 85%;
	}
	100% {
		left: 80%;
	}
}

// @keyframes pictureAnimation {
// 	0% {
// 		transform: translate(-100%);
// 		opacity: 0;
// 	}
// 	50% {
// 		transform: translate(0);
// 		opacity: 1;
// 	}
// 	100% {
// 		transform: translate(100%);
// 		opacity: 0;
// 	}
// }
